# ignore compiled code
*.pyc
*.conf
cluster
nabu/computing/condor/create_environment.sh
# .gitignore
sweeps
*debug*
*Old*
*kate-swp*
config/recipes_Jeroen/*
config/templates/*
nabu/postprocessing/scorers/pesq
nabu/neuralnetworks/trainers/task_trainer.py
nabu/neuralnetworks/evaluators/evaluator.py
nabu/neuralnetworks/evaluators/loss_evaluator.py
nabu/neuralnetworks/models/dblstm_linear.py
usefull_tf_stuff.txt