##
#variables for multiple sections in this config file
[globalvars]
segment_lengths = 100 full

##
#The different sections in this config file express how to obtain the desired data. Each section
#has some typical parameters:
# * datafiles: typically a .scp file that point to where the raw data is stored
# * preprocess: wheter the desired data should be obtained via prerpocessing and stored later on
# * writer_style: if preprocess was True, how should the data be stored?
# * store_dir: if preprocess was True, where should the data be stored?
# * processor_config: link to a config file where it is explained how should the raw data should 
#   be processed to obtain the desired data
# * optional: wheter mising data is crucial
# * meta_info: should the data be catagorized as data or meta information?
# * dependencies: does the section depend on an other (or muptiple) section(s)?
# * meanandvar_dir: the directory where mean and variance are stored that can be used for mean
#   and variance normalization
#Some parameters are linked to the parameter in the globalvars section

#
[trainspec]
datafiles = /path/to/train/mix_wav.scp
preprocess = True
writer_style = numpy_float_array_as_tfrecord
store_dir = path/to/features/train
meanandvar_dir = path/to/features/train
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/feature_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = False
dependencies = None

[testspec]
datafiles = /path/to/test/mix_wav.scp
preprocess = True
writer_style = numpy_float_array_as_tfrecord
store_dir = path/to/features/test
meanandvar_dir = path/to/features/train
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/feature_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = False
dependencies = trainspec

[devspec]
datafiles = /path/to/dev/mix_wav.scp
preprocess = True
writer_style = numpy_float_array_as_tfrecord
store_dir = path/to/features/dev
meanandvar_dir = path/to/features/train
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/feature_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = False
dependencies = trainspec

#
[trainspec3spk]
datafiles = /path/to/train3spk/mix_wav.scp
preprocess = True
writer_style = numpy_float_array_as_tfrecord
store_dir = path/to/features/train3spk
meanandvar_3spk_dir = path/to/features/train3spk
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/feature_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = False
dependencies = None

[testspec3spk]
datafiles = /path/to/test3spk/mix_wav.scp
preprocess = True
writer_style = numpy_float_array_as_tfrecord
store_dir = path/to/features/test3spk
meanandvar_3spk_dir = path/to/features/train3spk
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/feature_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = False
dependencies = trainspec

[devspec3spk]
datafiles = /path/to/dev3spk/mix_wav.scp
preprocess = True
writer_style = numpy_float_array_as_tfrecord
store_dir = path/to/features/dev3spk
meanandvar_3spk_dir = path/to/features/train3spk
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/feature_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = False
dependencies = trainspec

#
[traintargets]
datafiles = /path/to/train/allS_wav.scp
preprocess = True
writer_style = numpy_bool_array_as_tfrecord
store_dir = /path/to/targets/train
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/target_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = False
dependencies = None

[testtargets]
datafiles = /path/to/test/allS_wav.scp
preprocess = True
writer_style = numpy_bool_array_as_tfrecord
store_dir = /path/to/targets/test
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/target_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = False
dependencies = None

[devtargets]
datafiles = /path/to/dev/allS_wav.scp
preprocess = True
writer_style = numpy_bool_array_as_tfrecord
store_dir = /path/to/targets/dev
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/target_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = False
dependencies = None

#
[traintargets3spk]
datafiles = /path/to/train3spk/allS_wav.scp
preprocess = True
writer_style = numpy_bool_array_as_tfrecord
store_dir = /path/to/targets/train3spk
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/target_3spk_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = False
dependencies = None

[testtargets3spk]
datafiles = /path/to/test3spk/allS_wav.scp
preprocess = True
writer_style = numpy_bool_array_as_tfrecord
store_dir = /path/to/targets/test3spk
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/target_3spk_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = False
dependencies = None

[devtargets3spk]
datafiles = /path/to/dev3spk/allS_wav.scp
preprocess = True
writer_style = numpy_bool_array_as_tfrecord
store_dir = /path/to/targets/dev3spk
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/target_3spk_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = False
dependencies = None

#
[trainusedbins]
datafiles = /path/to/train/mix_wav.scp
preprocess = True
writer_style = numpy_bool_array_as_tfrecord
store_dir = /path/to/usedbins/train
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/usedbins_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = True
dependencies = None

[testusedbins]
datafiles = /path/to/test/mix_wav.scp
preprocess = True
writer_style = numpy_bool_array_as_tfrecord
store_dir = /path/to/usedbins/test
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/usedbins_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = True
dependencies = None

[devusedbins]
datafiles = /path/to/dev/mix_wav.scp
preprocess = True
writer_style = numpy_bool_array_as_tfrecord
store_dir = /path/to/usedbins/dev
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/usedbins_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = True
dependencies = None

#
[trainusedbins3spk]
datafiles = /path/to/train3spk/mix_wav.scp
preprocess = True
writer_style = numpy_bool_array_as_tfrecord
store_dir = /path/to/usedbins/train3spk
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/usedbins_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = True
dependencies = None

[testusedbins3spk]
datafiles = /path/to/test3spk/mix_wav.scp
preprocess = True
writer_style = numpy_bool_array_as_tfrecord
store_dir = /path/to/usedbins/test3spk
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/usedbins_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = True
dependencies = None

[devusedbins3spk]
datafiles = /path/to/dev3spk/mix_wav.scp
preprocess = True
writer_style = numpy_bool_array_as_tfrecord
store_dir = /path/to/usedbins/dev3spk
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/usedbins_processor.cfg
segment_lengths = globalvars
meta_info = False
optional = True
dependencies = None

#
[testorgmix]
datafiles = /path/to/test/mix_wav.scp
preprocess = False
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/rec_processor.cfg
meta_info = False
optional = False
dependencies = None

[testorgsrc]
datafiles = /path/to/test/allS_wav.scp
preprocess = False
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/score_processor.cfg
meta_info = False
optional = False
dependencies = None

[testbase]
datafiles = /path/to/test/mix_wav.scp
preprocess = False
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/base_processor.cfg
meta_info = False
optional = False
dependencies = None

#
[testorgmix3spk]
datafiles = /path/to/test3spk/mix_wav.scp
preprocess = False
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/rec_processor.cfg
meta_info = False
optional = False
dependencies = None

[testorgsrc3spk]
datafiles = /path/to/test3spk/allS_wav.scp
preprocess = False
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/score_processor.cfg
meta_info = False
optional = False
dependencies = None

[testbase3spk]
datafiles = /path/to/test3spk/mix_wav.scp
preprocess = False
processor_config = config/recipes/SS/DBLSTM/MERL_DC_2and3spk/base_processor.cfg
meta_info = False
optional = False
dependencies = None

#
[trainspkinfo]
datafiles = /path/to/train/utt_spkinfo.txt
preprocess = False
meta_info = True
optional = True

[testspkinfo]
datafiles = /path/to/test/utt_spkinfo.txt
preprocess = False
meta_info = True
optional = True

[devspkinfo]
datafiles = /path/to/dev/utt_spkinfo.txt
preprocess = False
meta_info = True
optional = True

#
[trainspkinfo3spk]
datafiles = /path/to/train3spk/utt_spkinfo.txt
preprocess = False
meta_info = True
optional = True

[testspkinfo3spk]
datafiles = /path/to/test3spk/utt_spkinfo.txt
preprocess = False
meta_info = True
optional = True

[devspkinfo3spk]
datafiles = /path/to/dev3spk/utt_spkinfo.txt
preprocess = False
meta_info = True
optional = True