[hyper]
model_names = main outlayer concat

[main]
#type of architecture
architecture = leaky_dblstm_iznotrec
#number of neurons in the hidden layers
num_units = 600
#number of hidden layers
num_layers = 2
#input noise standart deviation
input_noise = 0.2
#dropout rate (keep probability)
dropout = 1.0
#the recurrent dropout rate (keep probability)
recurrent_dropout = 1.0
#wheter layer normalization should be applied
layer_norm = False
#the leak factor between 0 and 1. Set to 1 for no leakage
leak_factor = 0.5

[outlayer]
#type of architecture
architecture = linear
#the number of output dims (should be set automaticaly?)
output_dims = 2580
#input noise standart deviation
input_noise = 0
#dropout rate (keep probability)
dropout = 1.0

[concat]
#type of architecture
architecture = concat
#whether any input should expand a dimension and be reshaped to match the first input
expand_dim_to_first_input = False True
