[processor]
#feature type
feature = spec
#length of the sliding window (seconds)
winlen = 0.032
#step of the sliding window (seconds)
winstep = 0.008
#Window function
winfunc = cosine
#number of fft bins
nfft = 256
