[hyper]
model_names = main outlayer

[main]
#type of architecture
architecture = dbresetlstm
#number of neurons in the hidden layers
num_units = 600
#the reset cycle period
t_reset = 10
#number of hidden layers
num_layers = 1
#input noise standart deviation
input_noise = 0.2
#dropout rate (keep probability)
dropout = 1.0
#the recurrent dropout rate (keep probability)
recurrent_dropout = 1.0
#wheter layer normalization should be applied
layer_norm = False

[outlayer]
#type of architecture
architecture = linear
#the number of output dims (should be set automaticaly?)
output_dims = 2580
#input noise standart deviation
input_noise = 0
#dropout rate (keep probability)
dropout = 1.0
