[evaluator]
#the type of evaluation: single task or multi task
evaluator = multi_task
#state the tasks
tasks = task_2spk task_2spk_estivec task_2spk_estivec_from_this_model
#The segment length
segment_length = full

[task_2spk]
#requested utterances for evaluation
requested_utts = 3000
#the number of utterances that are processed simultaniously
batch_size = 30
#type of loss that should be used
loss_type = deepclustering
#name of the evaluator that should be used
evaluator = task_loss_evaluator
#a space separated list of the inputs of the (hybrid) model
inputs = features
#the outputs requested for this task
outputs = bin_emb
#a space separated list of the nodes of the (hybrid) model (includes
#the output nodes)
nodes = zero_vec one_scalar n0 n1 bin_emb
#for each node, state a model and a space separated list of inputs
#
zero_vec_model = zero_generator
zero_vec_inputs = features
#
one_scalar_model = one_generator
one_scalar_inputs = features
#
n0_model = concat
n0_inputs = features zero_vec one_scalar
#
n1_model = main
n1_inputs = n0
#
bin_emb_model = outlayer
bin_emb_inputs = n1

#a mapping between the input names and database sections
features = testspec
#a space seperated list of target names used by the trainer
targets = binary_targets usedbins
#a mapping between the target names and database sections
binary_targets = testtargets
#a mapping between the target names and database sections
usedbins = testusedbins

[task_2spk_estivec]
#requested utterances for evaluation
requested_utts = 3000
#the number of utterances that are processed simultaniously
batch_size = 30
#type of loss that should be used
loss_type = deepclustering
#name of the evaluator that should be used
evaluator = task_loss_evaluator
#a space separated list of the inputs of the (hybrid) model
inputs = features ivecs
#the outputs requested for this task
outputs = bin_emb
#a space separated list of the nodes of the (hybrid) model (includes
#the output nodes)
nodes = minus_one_scalar n0 n1 bin_emb
#for each node, state a model and a space separated list of inputs
#
minus_one_scalar_model = minus_one_generator
minus_one_scalar_inputs = features
#
n0_model = concat
n0_inputs = features ivecs minus_one_scalar
#
n1_model = main
n1_inputs = n0
#
bin_emb_model = outlayer
bin_emb_inputs = n1

#a mapping between the input names and database sections
features = testspec
ivecs = testivec10
#a space seperated list of target names used by the trainer
targets = binary_targets usedbins
#a mapping between the target names and database sections
binary_targets = testtargets
#a mapping between the target names and database sections
usedbins = testusedbins

[task_2spk_estivec_from_this_model]
#requested utterances for evaluation
requested_utts = 3000
#the number of utterances that are processed simultaniously
batch_size = 30
#type of loss that should be used
loss_type = deepclustering
#name of the evaluator that should be used
evaluator = task_loss_evaluator
#a space separated list of the inputs of the (hybrid) model
inputs = features ivecs
#the outputs requested for this task
outputs = bin_emb
#a space separated list of the nodes of the (hybrid) model (includes
#the output nodes)
nodes = minus_one_scalar n0 n1 bin_emb
#for each node, state a model and a space separated list of inputs
#
minus_one_scalar_model = minus_one_generator
minus_one_scalar_inputs = features
#
n0_model = concat
n0_inputs = features ivecs minus_one_scalar
#
n1_model = main
n1_inputs = n0
#
bin_emb_model = outlayer
bin_emb_inputs = n1

#a mapping between the input names and database sections
features = testspec
ivecs = testivec10_from_this_model
#a space seperated list of target names used by the trainer
targets = binary_targets usedbins
#a mapping between the target names and database sections
binary_targets = testtargets
#a mapping between the target names and database sections
usedbins = testusedbins