[evaluator]
#the type of evaluation: single task or multi task
evaluator = multi_task
#The type of multi task training: single_1to1, single_1tomany, multiple_1to1. This states which
# outputs of the network to use
multi_trainer = single_1to1
#state the tasks
tasks = task_2spk
#requested utterances for evaluation
requested_utts = 3000
#the number of utterances that are processed simultaniously
batch_size = 30
#The segment length
segment_length = full

[task_2spk]
#name of the evaluator that should be used
evaluator = task_loss_evaluator
#type of loss that should be used
loss_type = pit
#link the input names defined in the classifier config to sections defined in
#the database config
features = testspec
#a space seperated list of target names used by the evaluator
targets = multi_targets mix_to_mask 
#a mapping between the target names and database sections
multi_targets = testtargets 
#a mapping between the target names and database sections
<<<<<<< HEAD:config/recipes/SS/DBLSTM/MERL_PIT/test_evaluator.cfg
mix_to_mask = testmixtomask
#The segment length
segment_length = full

[reconstructor]
#the way to reconstruct the signals
reconstruct_type = stackedmasks
#link the original mixture to sections defined in the database config
org_mix = testorgmix
#number of signals to reconstruct
nrs = 2


[scorer]
#the way to score the reconstrunction
score_type = sdr
#link the original source signals to sections defined in the database config
org_src = testorgsrc
#link the base signal (original mixture) to sections defined in the database config
base = testbase
#link the spkeaker info to sections defined in the database config
spkinfo = testspkinfo
=======
mix_to_mask = testmixtomask
>>>>>>> task_trainers:config/recipes/SS/DBLSTM/MERL_PIT_2spk/test_evaluator.cfg
