[hyper]
model_names = main outlayer

[main]
#type of architecture
architecture = capsnet
# number of capsules
num_capsules = 100
# dimension of capsules
capsule_dim = 12
# number of routing iterations
routing_iters = 3
#number of hidden layers
num_layers = 4
#input noise standart deviation
input_noise = 0.0
#dropout rate (keep probability)
dropout = 1.0

[outlayer]
#type of architecture
architecture = linear
#the number of output dims (should be set automaticaly?)
output_dims = 2580
#input noise standart deviation
input_noise = 0
#dropout rate (keep probability)
dropout = 1.0
