#tasks defined in test_evaluator.cfg
[task_dc]
#the way to reconstruct the signals
reconstruct_type = deepclustering
#link the original mixture to sections defined in the database config
org_mix = testorgmix
#link the usedbins to sections defined in the database config
usedbins = testusedbins
#number of signals to reconstruct
nrs = 2
#wether to also store the raw outputs (besides the reconstructed signals)
store_output = False

[task_pit]
#the way to reconstruct the signals
reconstruct_type = stackedmasks
#link the original mixture to sections defined in the database config
org_mix = testorgmix
#number of signals to reconstruct
nrs = 2
#wether to also store the raw outputs (besides the reconstructed signals)
store_output = False
