[globalvars]
#other sections can point to this section if a variable is set globaly and not 
#in the section itself
path_training_mix = ~/Documenten/KuLeuven/Thesis/TestSet/mix_db.txt
path_training_multi = ~/Documenten/KuLeuven/Thesis/TestSet/mix_composition_db.txt
path_validation_mix = ~/Documenten/KuLeuven/Thesis/TestSet/mix_db.txt
path_validation_multi = ~/Documenten/KuLeuven/Thesis/TestSet/mix_composition_db.txt
path_test_mix = ~/Documenten/KuLeuven/Thesis/TestSet/mix_db.txt
path_test_multi = ~/Documenten/KuLeuven/Thesis/TestSet/mix_composition_db.txt
path_feature_processor = feature_processor.cfg
path_bin_targets_processor = target_processor.cfg
path_used_bins_processor = usedbins_processor.cfg




[trainspec]
#a space seperated list of files containing the data
datafiles = path_training_mix
#wheter the data should be preprocessed or if the data can be retrieved
#on the fly
preprocess = True
#The way to write down the data
writer_style = writer_style
#the directory where the processed data is stored
store_dir = ~/Documenten/KuLeuven/Temp
#the directory where the mean and variance is stored. This will be used 
#for mean and variance normalization. If this directory points to the same
#directory as store_dir, mean and variance should be calculated on this
#data section
meanandvar_dir = ~/Documenten/KuLeuven/Temp
#the processor configuration
processor_config = path_feature_processor
#the length of the segments
segment_lengths = segment_lengths
#wether or not the data is simpy meta information. Currently not used
meta_info = False
#wether or not the data is optional. Currently not used
optional = False
#wether or not the data depends on other sections, e.g. for mean and variance.
#Currently not used
dependencies = None

[traintargets]
#a space seperated list of files containing the data
datafiles = path_training_multi
#wheter the data should be preprocessed or if the data can be retrieved
#on the fly
preprocess = True
#The way to write down the data
writer_style = writer_style
#the directory where the processed data is stored
store_dir = ~/Documenten/KuLeuven/Temp
#the directory where the mean and variance is stored. This will be used 
#for mean and variance normalization. If this directory points to the same
#directory as store_dir, mean and variance should be calculated on this
#data section
meanandvar_dir = ~/Documenten/KuLeuven/Temp
#the processor configuration
processor_config = path_bin_targets_processor
#the length of the segments
segment_lengths = segment_lengths
#wether or not the data is simpy meta information. Currently not used
meta_info = False
#wether or not the data is optional. Currently not used
optional = False
#wether or not the data depends on other sections, e.g. for mean and variance.
#Currently not used
dependencies = None

[trainusedbins]
#a space seperated list of files containing the data
datafiles = path_training_mix
#wheter the data should be preprocessed or if the data can be retrieved
#on the fly
preprocess = True
#The way to write down the data
writer_style = writer_style
#the directory where the processed data is stored
store_dir = ~/Documenten/KuLeuven/Temp
#the directory where the mean and variance is stored. This will be used 
#for mean and variance normalization. If this directory points to the same
#directory as store_dir, mean and variance should be calculated on this
#data section
meanandvar_dir = ~/Documenten/KuLeuven/Temp
#the processor configuration
processor_config = path_used_bins_processor
#the length of the segments
segment_lengths = segment_lengths
#wether or not the data is simpy meta information. Currently not used
meta_info = False
#wether or not the data is optional. Currently not used
optional = False
#wether or not the data depends on other sections, e.g. for mean and variance.
#Currently not used
dependencies = None


[devspec]
#a space seperated list of files containing the data
datafiles = path_validation_mix
#wheter the data should be preprocessed or if the data can be retrieved
#on the fly
preprocess = True
#The way to write down the data
writer_style = writer_style
#the directory where the processed data is stored
store_dir = ~/Documenten/KuLeuven/Temp
#the directory where the mean and variance is stored. This will be used 
#for mean and variance normalization. If this directory points to the same
#directory as store_dir, mean and variance should be calculated on this
#data section
meanandvar_dir = ~/Documenten/KuLeuven/Temp
#the processor configuration
processor_config = path_feature_processor
#the length of the segments
segment_lengths = segment_lengths
#wether or not the data is simpy meta information. Currently not used
meta_info = False
#wether or not the data is optional. Currently not used
optional = False
#wether or not the data depends on other sections, e.g. for mean and variance.
#Currently not used
dependencies = None

[devtargets]
#a space seperated list of files containing the data
datafiles = path_validation_multi
#wheter the data should be preprocessed or if the data can be retrieved
#on the fly
preprocess = True
#The way to write down the data
writer_style = writer_style
#the directory where the processed data is stored
store_dir = ~/Documenten/KuLeuven/Temp
#the directory where the mean and variance is stored. This will be used 
#for mean and variance normalization. If this directory points to the same
#directory as store_dir, mean and variance should be calculated on this
#data section
meanandvar_dir = ~/Documenten/KuLeuven/Temp
#the processor configuration
processor_config = path_bin_targets_processor
#the length of the segments
segment_lengths = segment_lengths
#wether or not the data is simpy meta information. Currently not used
meta_info = False
#wether or not the data is optional. Currently not used
optional = False
#wether or not the data depends on other sections, e.g. for mean and variance.
#Currently not used
dependencies = None


[devusedbins]
#a space seperated list of files containing the data
datafiles = path_validation_mix
#wheter the data should be preprocessed or if the data can be retrieved
#on the fly
preprocess = True
#The way to write down the data
writer_style = writer_style
#the directory where the processed data is stored
store_dir = ~/Documenten/KuLeuven/Temp
#the directory where the mean and variance is stored. This will be used 
#for mean and variance normalization. If this directory points to the same
#directory as store_dir, mean and variance should be calculated on this
#data section
meanandvar_dir = ~/Documenten/KuLeuven/Temp
#the processor configuration
processor_config = path_used_bins_processor
#the length of the segments
segment_lengths = segment_lengths
#wether or not the data is simpy meta information. Currently not used
meta_info = False
#wether or not the data is optional. Currently not used
optional = False
#wether or not the data depends on other sections, e.g. for mean and variance.
#Currently not used
dependencies = None

[testspec]
#a space seperated list of files containing the data
datafiles = path_test_mix
#wheter the data should be preprocessed or if the data can be retrieved
#on the fly
preprocess = True
#The way to write down the data
writer_style = writer_style
#the directory where the processed data is stored
store_dir = ~/Documenten/KuLeuven/Temp
#the directory where the mean and variance is stored. This will be used 
#for mean and variance normalization. If this directory points to the same
#directory as store_dir, mean and variance should be calculated on this
#data section
meanandvar_dir = ~/Documenten/KuLeuven/Temp
#the processor configuration
processor_config = path_feature_processor
#the length of the segments
segment_lengths = segment_lengths
#wether or not the data is simpy meta information. Currently not used
meta_info = False
#wether or not the data is optional. Currently not used
optional = False
#wether or not the data depends on other sections, e.g. for mean and variance.
#Currently not used
dependencies = None

[testtargets]
#a space seperated list of files containing the data
datafiles = path_test_multi
#wheter the data should be preprocessed or if the data can be retrieved
#on the fly
preprocess = True
#The way to write down the data
writer_style = writer_style
#the directory where the processed data is stored
store_dir = ~/Documenten/KuLeuven/Temp
#the directory where the mean and variance is stored. This will be used 
#for mean and variance normalization. If this directory points to the same
#directory as store_dir, mean and variance should be calculated on this
#data section
meanandvar_dir = ~/Documenten/KuLeuven/Temp
#the processor configuration
processor_config = path_bin_targets_processor
#the length of the segments
segment_lengths = segment_lengths
#wether or not the data is simpy meta information. Currently not used
meta_info = False
#wether or not the data is optional. Currently not used
optional = False
#wether or not the data depends on other sections, e.g. for mean and variance.
#Currently not used
dependencies = None


[testusedbins]
#a space seperated list of files containing the data
datafiles = path_test_mix
#wheter the data should be preprocessed or if the data can be retrieved
#on the fly
preprocess = True
#The way to write down the data
writer_style = writer_style
#the directory where the processed data is stored
store_dir = ~/Documenten/KuLeuven/Temp
#the directory where the mean and variance is stored. This will be used 
#for mean and variance normalization. If this directory points to the same
#directory as store_dir, mean and variance should be calculated on this
#data section
meanandvar_dir = ~/Documenten/KuLeuven/Temp
#the processor configuration
processor_config = path_used_bins_processor
#the length of the segments
segment_lengths = segment_lengths
#wether or not the data is simpy meta information. Currently not used
meta_info = False
#wether or not the data is optional. Currently not used
optional = False
#wether or not the data depends on other sections, e.g. for mean and variance.
#Currently not used
dependencies = None


## TODO ##
[testorgsrc]
[testbase]
[testspkinfo]

